body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #555555;
  padding-top: 140px;
  overflow-x: hidden;
}

/* ---------------TOP BAR--------------- */
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
  font-size: 12px;
}

.top-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar .left .badge {
  background: #ebe5f4;
  color: #7657a5;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 12px;
}

.top-bar .left a {
  color: #5a2ca0;
  text-decoration: underline;
  font-weight: 600;
}

.top-bar .right a{
    color: #555555;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* -----------------------Main Navbar---------------------- */
.main-header {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 1999;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
  margin-left: -30px;
  padding: 3px 7px;
  border-radius: 5px;
}

.menu-icon:hover{
    background-color: #f1eff7;
    color: #5a2ca0;
}

.menu-icon i{
    font-size: 27px;
    -webkit-text-stroke: 1px currentColor;
}

.left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  width: 25px;
}

.logo span {
  font-size: 18px;
  font-weight: bolder;
  color: #1b1a1a;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #555555;
  font-size: 13px;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-btn {
  padding: 6px 16px;
  border: 1px solid #5a2ca0;
  color: #5a2ca0;
  background: transparent;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.signup-btn {
  padding: 8px 20px;
  color: white;
  background: #5a2ca0;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

/* -----------------------Hero Section---------------------- */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: 4000;
    padding: 0 20px;
    display: none;
    flex-direction: column;
    overflow-y: auto;
}

.mobile-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 10px;
}

.mobile-top .btns{
  gap: 20px;
}

.mobile-top .login-link {
    color: #5a2ca0;
    font-weight: 500;
    margin-left: auto;
    text-decoration: none;
    font-size: 14px;
}

.close-menu {
    font-size: 26px;
    cursor: pointer;
    margin-right: 40px;
    margin-top: 10px;
}

.mobile-section h4 {
    color: #555;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.mobile-section a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 5px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.mobile-section a i {
    background: #f5eefc;
    padding: 8px;
    border-radius: 6px;
    color: #7b39c6;
    font-size: 20px;
}

.mobile-footer {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e7e7e7;
}

.mobile-footer a {
    color: #5a2ca0;
    font-size: 13px;
    text-decoration: none;
}
/* -----------------------Hero Section---------------------- */
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 120px;
    gap: 40px;
    margin-bottom: 120px;
}

.hero .left{
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.hero .left h3 {
    font-size: 45px;
    font-weight: 700;
    color: #151515;
    line-height: 1.1;
    margin: 0; 
}

.hero .left p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    margin: 0; 
}

.btns {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0; 
    margin-top: 15px;
}

.learn-more-btn {
    padding: 14px 20px;
    background: #6a1b9a;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btns a {
    color: #6a1b9a;
    font-weight: 600;
    text-decoration: underline;
    font-size: 16px;
}

.hero .right img {
    width: 600px;
    max-width: 100%;
}

/* -----------------------------Details Section---------------------- */

.details {
    background-color: #11081f;
    padding: 100px 0;
    text-align: center;
}

.details h3 {
    font-size: 42px;
    color: #ffffff;
    margin: 0;
    margin-bottom: 40px;
}

.details .top span {
    color: #a456f0;
}

.sub-details {
    display: flex;
    justify-content: center;
    gap: 80px;
    max-width: 900px;
    margin: 0 auto;
}

.card {
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #d3cde8;
    text-align: center;
}

.card img {
    width: 70px;
    margin-bottom: 20px;
}

.card h4 {
    font-size: 24px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.card p {
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.card p strong{
    color: #a456f0;
}

.card a {
    margin-top: 10px;
    color: #a456f0;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.details .bottom{
    text-align: center;
    margin-top: 100px;
}

.details .bottom p{
    color: #d3cde8;
    font-size: 18px;
    margin: 0;
    line-height: 1.5;
}

.details .bottom .btns {
    display: flex;
    justify-content: center;   
    align-items: center;
    gap: 30px;               
    margin-top: 40px;    
}

.details .bottom button {
    padding: 14px 28px;
    background: #652c9d;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.details .bottom a {
    font-size: 18px;
    color: #a456f0;
    text-decoration: underline;
}

/* -----------------------Footer------------------------------- */

footer {
    padding: 100px 80px 50px;
    background: #ffffff;
    color: #333;
}

footer .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer .left {
    max-width: 270px;
    display: flex;
    flex-direction: column;
    gap: 12px; 
}

footer .left .logo{
    align-self: flex-start;
}

footer .left p {
    font-size: 12px;
    line-height: 1.4;
    color: #666;
}

footer .social {
    display: flex;
    gap: 18px;
    margin-top: 40px;
    font-size: 17px;
    color: #b5b5b5;
}

footer .right{
    display: flex;
    gap: 80px;
}

.newsletter p {
    font-size: 12px;
    color: #666;
    margin-bottom: 8px;
}

.input-box {
    display: flex;
}

.input-box input {
    padding: 12px;
    background: #f2f2f2;
    border: none;
    width: 200px;
}

.input-box button {
    padding: 12px 16px;
    border: none;
    background: #6b2ebf;
    color: #fff;
    cursor: pointer;
}

.center-links {
    display: flex;
    gap: 10px;
    margin-top: 50px;
    margin-left: 10px;
}

.center-links .col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 180px;
}

.center-links h4 {
    font-size: 13px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

.center-links a {
    text-decoration: none;
    font-size: 13px;
    color: #737070;
}

.center-links a:hover {
    color: #6b2ebf;
}

.github-row {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
    font-size: 14px;
    color: #666;
}

footer hr{
    margin: 50px 10px;
    border: none;
    border-top: 0.5px solid #e5e5e5;
}

footer .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

footer .bottom p {
    color: #666;
    font-size: 13px;
}

footer .middle-links,
footer .right-links {
    display: flex;
    gap: 30px;
}

footer .middle-links a,
footer .right-links a {
    text-decoration: none;
    color: #666;
    font-size: 13px;
}

/* --------------------------Open Source Dropdown ---------------------- */

.nav-item {
    position: relative;
    display: inline-block;
}

.open-source-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 30px 35px;
    width: 650px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
    display: none;
    z-index: 1000;

    flex-direction: column;
    gap: 30px;
}

.nav-item:hover .open-source-dropdown {
    display: flex;
}

.os-item {
    display: flex;
    align-items: flex-start;
    gap: 18px;
}

.os-icon {
    background: #f5e9ff;
    padding: 14px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.os-icon i {
    font-size: 20px;
    color: #6a1b9a;
}

.os-item h4 {
    margin: 0;
    font-size: 15px;
    color: #6a1b9a;
    cursor: pointer;
}

.os-item h4:hover {
    text-decoration: underline;
}

.os-item p {
    font-size: 13px;
    color: #666;
    margin: 3px 0 10px;
}

.os-links {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 20px;
}

.os-links a {
    font-size: 13px;
    text-decoration: none;
}

.os-links a:hover {
    color: #6a1b9a;
    text-decoration: underline;
}

/* --------------------------Learn Dropdown ---------------------- */

.learn-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 30px 35px;
    width: 450px;
    border-radius: 14px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.12);
    display: none;
    flex-direction: column;
    gap: 25px;
    z-index: 1000;
}

.nav-item:hover .learn-dropdown {
    display: flex;
}

.learn-item {
    display: flex;
    align-items: flex-start;
    gap: 18px;
    cursor: pointer;
}

.learn-item .icon-box {
    background: #f5e9ff;
    padding: 6px;
    border-radius: 12px;
    min-width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.learn-item .icon-box i {
    font-size: 20px;
    color: #6a1b9a;
}

.learn-item h4 {
    margin: 0;
    font-size: 15px;
    color: #6a1b9a;
}

.learn-item h4:hover{
    text-decoration: underline;
}

.learn-item p {
    margin: 4px 0 0;
    font-size: 13px;
    color: #666;
}


/* --------------------------Responsiveness ---------------------- */

@media (max-width: 785px) {
    html, body {
        overflow-x: hidden;
        width: 100%;
    }

    .container {
        padding: 0 15px;
    }

    .left {
        gap: 15px;
    }

     .menu-icon {
        margin-left: 0; 
    }

    .top-bar {
        overflow-x: auto;
        white-space: nowrap;
        -ms-overflow-style: none; 
        scrollbar-width: none;  
    }

     .top-bar::-webkit-scrollbar {
        display: none;   
    }

    .top-bar .container {
        width: max-content; 
        display: flex;
        align-items: center;
        gap: 15px;
    }

    /* ----------Hero Section-------- */

    .hero {
        padding: 20px 10px;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

     .hero .left {
        max-width: 100%;
        align-items: center;
    }

    .hero .left h3 {
        font-size: 32px;
    }

    .hero .left p {
        font-size: 15px;
    }

    .hero .right img {
        width: 300px;
        max-width: 100%;
    }

    /* ----------Details Section-------- */

    .details {
        padding: 60px 20px;
    }

    .details h3 {
        font-size: 28px;
    }

    .sub-details {
        flex-direction: column;
        gap: 40px;
        width: 100%;
        max-width: 100%;
    }

    .card {
        width: 100%;         
        max-width: 350px;     
        margin: 0 auto;
    }

    /* ----------Details bottom-------- */

    .details .bottom h3 {
        font-size: 28px;
    }

    .details .bottom .btns {
        flex-direction: column;
        gap: 15px;
    }

    /* ----------Footer-------- */

    
}

@media (max-width: 900px) {
    .container {
        padding: 0 20px;
    }

    .main-header .left nav {
        display: none;  
    }

    .menu-icon {
        display: block;
        font-size: 26px;
        cursor: pointer;
    }

    .main-header .right {
        gap: 10px;
    } 

    nav {
        display: none; 
    }

    nav {
        display: none; 
    }

    .main-header .right .contact-btn{
    display: none;
    }

    .main-header .right .signup-btn{
        display: none;
    }
}

@media (max-width: 1050px) {
  .top-bar .right a{
    display: none;
  }

  .hero {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
    gap: 10px
  }

  .hero .left {
    align-items: center;
    max-width: 80%;
  }

  .hero .left h3 {
    font-size: 45px;
  }

  .hero .left p {
    font-size: 18px;
    max-width: 600px;
  }

  .btns {
    justify-content: center;
  }

  .hero .right img {
    width: 450px;
    margin-top: 40px;
  }

  .details h3{
    font-size: 40px;
  }

  .details .sub-details{
    flex-direction: column;
    align-items: center;
  }

  footer{
    padding: 100px 20px 40px;
  }

}
